.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    background: var(--color-blackest);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: fit-content;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.modal__cross {
    position: absolute;
    right: 1px;
    top: 10px;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    max-height: 350px;
    overflow-y: auto;
}

.modal__content .field-holder {
    width: -webkit-fill-available;
}

.modal__list {
    max-height: 300px;
    list-style: none;
    overflow-y: auto;
    padding-right: 16px;
}

.modal__list-item {
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--ui-border);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.menu-modal__row,
.menu-modal__sub-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-modal__sub-item-row,
.menu-modal__row-item {
    display: flex;
    gap: 10px;
}