@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "css/modal.css";
@import "css/table.css";
@import "css/button.css";
@import "css/toast.css";
@import "css/customElems.css";
@import "css/controls.css";
@import "css/editor.css";
@import "css/contacts.css";

:root {
    --color-primary: #805AF5;
    --color-primary-alt: #35316f;
    --color-secondary: #CD99FF;
    --color-primary-gradient-start: #805AF5;
    --color-primary-gradient-end: #CD99FF;
    --color-primary-gradient: linear-gradient(to right, var(--color-primary-gradient-start), var(--color-primary-gradient-end));
    --color-primary-gradient-left: linear-gradient(to left, var(--color-primary-gradient-start), var(--color-primary-gradient-end));
    --background-color: #0E0C15;
    --ui-bg: #0E0C15;
    --shadow-light: 1px 1px 6px rgba(0, 0, 0, 0.25);
    --shadow-primary: 0 0 20px 5px rgba(20, 126, 243, 0.1);
    --color-dark: #21242D;
    --color-blackest: #16181E;
    --color-link: #BCC3D7;
    --ui-border: rgba(255, 255, 255, 0.05);
    --color-lessdark: #2E313D;
    --secondary-bg-gradient: linear-gradient(107deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);
    --color-gray: #3E414B;
    --color-border: rgba(255, 255, 255, 0.05);
    --color-darker: rgba(6, 6, 6, 0.7);
    font-family: 'Fira Sans', 'Sora', sans-serif;
    --color-error: #c03c3c;
    --color-warning: #a99b3e;
    --color-accept: #25773f;
    --control-radius: 12px;
    --control-height: 36px;
    --control-pad-x: 12px;
    --control-pad-y: 10px;
    --btn-radius: 10px;
    --btn-height: 36px;
}

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Fira Sans', 'Sora', sans-serif;
    background-color: var(--background-color);
    color: var(--color-link);
}

code {
    font-family: 'Fira Sans', 'Sora', sans-serif;
}

a {
    color: var(--color-link);
    border-bottom-color: transparent;
    border-bottom: 1px solid;
    text-decoration: none;
    transition: border-bottom-color, color .3s ease-in-out;

    &:hover {
        color: var(--color-primary);
        border-bottom-color: var(--color-primary);
    }
}

.gradient-text {
    background: linear-gradient(90deg, var(--color-primary-gradient-start) 0%, #CE99FF 100%);
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    backface-visibility: hidden;
    color: transparent;
}

.translation-tree__row_error .table__cell-text {
    color: var(--color-error);
}

.translation-tree__row_warning .table__cell-text {
    color: var(--color-warning);
}

.translation-tree__cell_error {
    border: 2px solid var(--color-error);
}

.translation-tree__cell_warning {
    border: 2px solid var(--color-warning);
}

.page__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.page__header-row {
    display: flex;
    justify-content: space-between;
}